canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
<<<<<<< HEAD
   
}

body{
    background-color: white;

}

=======
}
>>>>>>> a20062674fe905848a0bad93f0f82878ef7df9b8
